.nav{
height: 60px;
display: flex;
justify-content: space-between;
padding: 1rem 2rem;
position: fixed;
width: 100%;
background: red;
}

h1{
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  cursor: pointer;
  font-style: italic;
}

.navMenu{
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  margin-right: -48px;
}

.navMenu li{
  padding: 0 1rem;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 100%; 
}

@media screen and (max-width: 768px){
  .navMenu{
    display: none;
  }
  
}